
AUTH_ID=<TODO: update-this-value>
COMMIT_SHA=<TODO: update-this-value>
ENDPOINT_LOCATION=<TODO: update-this-value>
GENAI_TELEMETRY_PATH=<TODO: update-this-value>
GOOGLE_CLOUD_LOCATION=<TODO: update-this-value>
GOOGLE_CLOUD_PROJECT=<TODO: update-this-value>
GOOGLE_GENAI_USE_VERTEXAI=<TODO: update-this-value>
LOGS_BUCKET_NAME=<TODO: update-this-value>
OAUTH_CLIENT_ID=<TODO: update-this-value>
OAUTH_CLIENT_SECRET=<TODO: update-this-value>
OAUTH_TOKEN_URI=<TODO: update-this-value>
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=<TODO: update-this-value>
MODEL_NAME=gemini-3.5-flash
