
# Environment variables extracted by extract-python-environment-variables
BIGQUERY_DATASET=<TODO: update-this-value>
BIGQUERY_TABLE=<TODO: update-this-value>
GOOGLE_CLOUD_LOCATION=<TODO: update-this-value>
PROJECT_ID=<TODO: update-this-value>
VERTEX_AI_BQ_DATASTORE_ID=<TODO: update-this-value>
VERTEX_AI_SEARCH_APP_ID=<TODO: update-this-value>
VERTEX_AI_WEB_DATASTORE_ID=<TODO: update-this-value>
VERTEX_SEARCH_LOCATION=<TODO: update-this-value>

# Environment variables extracted by extract-python-environment-variables
MODEL_NAME_GEMINI_2_5_FLASH=<TODO: update-this-value>
MODEL_NAME_GEMINI_2_5_PRO=<TODO: update-this-value>
