
# Environment variables extracted by extract-python-environment-variables
ADK_WEB_UI=<TODO: update-this-value>
ALLOW_ORIGINS=<TODO: update-this-value>
COMMIT_SHA=<TODO: update-this-value>
EMBEDDING_MODEL=<TODO: update-this-value>
FINETUNE_BASE_MODEL=<TODO: update-this-value>
FINETUNE_EPOCHS=<TODO: update-this-value>
FINETUNE_LORA_RANK=<TODO: update-this-value>
FINETUNE_LR_MULTIPLIER=<TODO: update-this-value>
FINETUNE_VERSION=<TODO: update-this-value>
GENAI_LOCATION=<TODO: update-this-value>
GENAI_TELEMETRY_PATH=<TODO: update-this-value>
GLOBAL_REGION=<TODO: update-this-value>
GOOGLE_API_KEY=<TODO: update-this-value>
GOOGLE_CLOUD_LOCATION=<TODO: update-this-value>
GOOGLE_CLOUD_PROJECT=<TODO: update-this-value>
LOGS_BUCKET_NAME=<TODO: update-this-value>
MCP_SERVER_PORT=<TODO: update-this-value>
MCP_SERVER_URL=<TODO: update-this-value>
MULTIMODAL_EMBEDDING_MODEL=<TODO: update-this-value>
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=<TODO: update-this-value>
PROJECT_ID=<TODO: update-this-value>
SHOE_CLASSIFICATION_ENDPOINT=<TODO: update-this-value>
US_REGION=<TODO: update-this-value>

# Renamed from hardcoded string in source. Rename the variable if needed.
MODEL_NAME_GENERATED_1=gemini-2.5-flash
MODEL_NAME_GENERATED_2=gemini-2.5-flash-lite
MODEL_NAME_GENERATED_3=gemini-2.5-pro
MODEL_NAME_GENERATED_4=gemini-3-flash-preview
MODEL_NAME_GENERATED_5=gemini-3.1-flash-image-preview
MODEL_NAME_GENERATED_6=gemini-embedding-001
MODEL_NAME_GENERATED_7=gemini-embedding-2-preview
MODEL_NAME_GENERATED_8=imagen-4.0-upscale-preview
