# Fill in your GCP project info and rename this file to ".env".

GOOGLE_GENAI_USE_VERTEXAI=True
GOOGLE_CLOUD_PROJECT=<TODO: update-this-value>
GOOGLE_CLOUD_LOCATION=global
GOOGLE_CLOUD_STORAGE_BUCKET=<TODO: update-this-value>  # Only required for deployment on Agent Engine

MODEL_NAME=gemini-3.6-flash

# Serving & container configuration
AGENT_VERSION=0.1.0
ALLOW_ORIGINS=<TODO: update-this-value>
APP_URL=http://0.0.0.0:8000
GOOGLE_CLOUD_AGENT_ENGINE_ID=<TODO: update-this-value>
GOOGLE_CLOUD_AGENT_ENGINE_LOCATION=<TODO: update-this-value>
INTEGRATION_TEST=<TODO: update-this-value>
LOGS_BUCKET_NAME=<TODO: update-this-value>
SESSION_SERVICE_URI=<TODO: update-this-value>
USE_IN_MEMORY_SESSION=<TODO: update-this-value>
