
AGENT_ENGINE_LOCATION=<TODO: update-this-value>
AGENT_ENGINE_SESSION_NAME=<TODO: update-this-value>
ALLOW_ORIGINS=<TODO: update-this-value>
COMMIT_SHA=<TODO: update-this-value>
GENAI_TELEMETRY_PATH=<TODO: update-this-value>
GOOGLE_CLOUD_LOCATION=<TODO: update-this-value>
LOGS_BUCKET_NAME=<TODO: update-this-value>
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=<TODO: update-this-value>
USE_IN_MEMORY_SESSION=<TODO: update-this-value>

MODEL_NAME=gemini-3.5-flash
