
# Environment variables extracted by extract-python-environment-variables
AGENT_ENGINE_LOCATION=us-west1
AGENT_ENGINE_SESSION_NAME=<TODO: update-this-value>
ALLOW_ORIGINS=
COMMIT_SHA=dev
GENAI_TELEMETRY_PATH=completions
GOOGLE_CLOUD_LOCATION=<TODO: update-this-value>
LOGS_BUCKET_NAME=<TODO: update-this-value>
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=false
USE_IN_MEMORY_SESSION=

# Environment variables extracted by extract-python-environment-variables
MODEL_NAME=gemini-3-flash-preview
